* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

input {
  width: 50%;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.header {
  display: grid;
  grid-column: 2/3;
}

.account {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fa-bell {
  cursor: pointer;
}

.menu {
  grid-row: 3/5;
  margin-left: auto;
}

.hello {
  grid-row: 2/3;
}

.helloBox {
  grid-row: 3/5;
  display: flex;
}

.helloImg {
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
}

.sidebar {
  grid-row: 1/3;
  justify-self: center;
}

.sideMenu {
  display: grid;
  gap: 30px;
}

.sideMenu ul {
  display: grid;
  gap: 10px;
  cursor: pointer;
}

.sideMenu ul li {
  display: flex;
  gap: 1rem;
}

.sideTxt:hover {
  text-decoration: underline;
}

.main {
  display: grid;
  grid-column: 2/3;
  grid-template-columns: 3fr 1fr;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.cardContents {
  height: 200px;
}

.rightSide {
  grid-column: 2/3;
}

.trending {
  grid-column: 2/3;
}

.trendingBoxes {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.trend {
}

img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
