* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

input {
  width: 50%;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  background-color: #ff9494;
  overflow: auto;
}

.header {
  display: grid;
  grid-column: 2/3;
  background-color: #fff5e4;
  padding-top: 2%;
}

.searchBar {
  margin-left: 10%;
}

.search {
  display: inline-block;
  border: 1px solid black;
  background-color: var(--gray--2);
  margin-left: 1.25rem;
  border-radius: 99em;
  width: min(80%, 700px);
}

.account {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 10%;
  font-weight: 900;
}

.fa-bell {
  cursor: pointer;
}

.menu {
  grid-row: 3/5;
  margin-left: auto;
  margin-right: 10%;
  margin-top: 5%;
}

.menu ul {
  display: flex;
  gap: 30px;
}

button {
  background-color: #ff9494;

  padding: 0.75em 2.3em;
  border-radius: 99em;
  border: none;
  cursor: pointer;
}

.hello {
  grid-row: 2/3;
}

.helloBox {
  grid-row: 3/5;
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 2%;
  font-weight: 900;
}

.helloBox p {
  margin-left: 10%;
}

.helloImg {
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
}

.logo {
  padding-top: 20%;
  font-size: 2rem;
}

.sidebar {
  grid-row: 1/3;
  justify-self: center;
}

.sideMenu {
  display: grid;
  gap: 30px;
  padding-top: 30%;
}

.sideMenu ul {
  display: grid;
  gap: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.sideMenu ul li {
  display: flex;
  gap: 1rem;
}

.sideTxt:hover {
  color: white;
}

.main {
  display: grid;
  grid-column: 2/3;
  grid-template-columns: 3fr 1fr;
  background-color: #e8dfca;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 15px;
  padding: 2rem;
}

.articleTitle {
  font-weight: 900;
  margin-bottom: 2%;
  font-size: 1.2rem;
}

.cardContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 280px;
  background-color: #f5efe6;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  border-left: 10px solid #fa7070;
}

.cardContents p {
  margin-left: 10%;
}

.rightSide {
  grid-column: 2/3;
  margin-top: 7%;
  margin-right: 7%;
}

.annTitle {
  font-weight: 900;
  font-size: 1.2rem;
  margin-bottom: 3%;
}

.annSubject {
  font-weight: 900;
  font-size: 1.1rem;
  margin-bottom: 2%;
}

.announcementContents {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: #f5efe6;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.trendTitle {
  font-weight: 900;
  font-size: 1.2rem;
  margin-bottom: 3%;
}

.trending {
  margin-top: 7%;
  margin-bottom: 7%;
}

.trendingContent {
  grid-column: 2/3;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: #f5efe6;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}

.trendingBoxes {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
